# PORT
PORT=5003

# Database Connection
DATABASE="media_library"
DATABASEUSERNAME="yashcomputers"
DATABASEPASSWORD="password"
DATABASEHOST="localhost"
DATABASEPORT=5432
SSL="false"

# Environment
NODE_ENV=development
SECRET_KEY=techierproject

# Super Admin Credentials
USERNAME=Harsh
EMAIL=harshantala149@gmail.com
PASSWORD=123456
ROLE=admin
